.plans__text {
  padding-bottom: 20px;
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 895px) {
  .plans__text {
    padding-bottom: 20px;
  }
}
