.header__links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 40px;
}

@media screen and (max-width: 685px) {
  .header__links {
    width: 100%;
    justify-content: space-around;
    column-gap: normal;
  }
}
