.intro__pic {
    /* object-fit: cover;  это чтобы выравнивать картинки, которые вставлены тегом img */
    background-size: cover; /* вот аналог для бекграунда */
    /* background-position: top 40% left 20%;  поэтому это теперь не нужно*/
    width: 100%;
    padding-bottom: 100%;
    background-image: url(../../../images/intro-image-cutted.jpeg);
    background-repeat: no-repeat;
}
