.header__link {
  font-size: 13px;
  line-height: 1.1;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

@media screen and (max-width: 685px) {
  .header__link {
    font-size: 10px;
  }
}
