.text__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0 0 40px 65px;
}

@media screen and (max-width: 1140px) {
  .text__title {
    padding-left: 35px;
  }
}

@media screen and (max-width: 895px) {
  .text__title {
    padding-left: 20px;
    font-size: 30px;
  }
}

@media screen and (max-width: 685px) {
  .text__title {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 26px;
    max-width: 460px;
  }
}
